.HotTopicBody
{
	width				: 100%;
	height				: 250px;
	position			: absolute；
}

.LinkArea
{
	width				: 100%;
	height				: 250px;
	position			: absolute；
}

.hotTopic-item{
    margin: 0.3rem 0;
    font-weight: bold;
    font-size: 0.5rem;    padding: 3px;
    cursor: pointer;
}